---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - namespaces
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.korder.dev
  resources:
  - cronorders
  - daemonorders
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - core.korder.dev
  resources:
  - orders
  - quotas
  - tickets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.korder.dev
  resources:
  - orders/finalizers
  - quotas/finalizers
  - tickets/finalizers
  verbs:
  - update
- apiGroups:
  - core.korder.dev
  resources:
  - orders/status
  - quotas/status
  - tickets/status
  verbs:
  - get
  - patch
  - update
